<div class="body">
  <div class="card">
    <div class="card-body">
        <h1 class="card-title text-center mb-5">Reset Password</h1>
      <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <label class="form-label mt-4" for="newPassword">New Password:</label>
        <input class="form-control" formControlName="newPassword" type="password" id="newPassword" name="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&]).{8,}" 
        title="Must contain at least one number, one uppercase and lowercase letter, and one special character (@, $, !, %, *, ?, &), and at least 8 or more characters" required>
        <span class="text-danger" *ngIf="resetForm.controls['newPassword'].dirty && resetForm.hasError('required', 'newPassword')">*Password is required</span>
                    <span class="text-danger" *ngIf="resetForm.controls['newPassword'].dirty && resetForm.hasError('pattern', 'newPassword')">*Invalid Password</span>
        <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary mt-3" type="submit">Submit</button>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary m-3" type="button" (click)="goBack()">Back</button>
        </div>
      </form>
    </div>
  </div>