.container {
    display: flex;
    flex-direction: column;
    height: 30vh; /* Set container height to full viewport height */
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    color: white;
}
 
.title {
    font-size: 24px;
    font-weight: bold;
}
 
.home-btn a {
    color: white;
    font-size: 18px;
}
.container {
    background: linear-gradient(to bottom, #6f72ba 0%, #232756 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
  }
 
  /* Styling for the box */
  .box {
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 
  /* Styling for form elements */
  .box form {
    margin-top: 20px;
  }
 
  .box label {
    display: block;
    margin-bottom: 10px;
  }
 
  .box input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
 
  .box button[type="submit"],
  .box button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #c0ec5c;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  .box button[type="submit"]:hover,
  .box button[type="button"]:hover {
    background-color: #a0da4f;
  }
 