<div class="body custom-container">
    
    <main>
        <section class="welcome-section">
            <h2>Welcome {{ companyName || "*Company Name*" }}</h2>
            <h3>Why Accounting App?</h3>
                <p>We believe in the power of technology to make business owners efficient,
                empowered and happier, so they can focus on what matters most for their business.
                We design our products to focus on just that - to make our products work for you, 
                and not the other way around.
                </p>
            <img src="assets/images/image.png" alt=""> 
        </section>
    </main>
</div>

