.body {
    background: linear-gradient(to bottom, #6f72ba 0%, #232756 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
}

.card {
    width: 600px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #c0ec5c;
    color: black;
    font-style: bold;
}