<div class="purchaseentry">
    <h2 align="center"><i><u><b>Purchase Entry</b></u></i></h2>
    
    <form class="form" [formGroup]="purchaseForm" (ngSubmit)="onsubmit()">

      <label for="invoiceNumber"><b>Invoice Number:</b></label>
      <input 
        type="text"
        id="invoiceNumber"
        formControlName="invoiceNumber"
        required
      />
      <div class="text-danger" *ngIf="purchaseForm.get('invoiceNumber')?.invalid && (purchaseForm.get('invoiceNumber')?.dirty || purchaseForm.get('invoiceNumber')?.touched)">
        *Invoice Number is Required
      </div>
  
      <label for="date"><b>Purchase Date :</b></label>
      <input 
        type="date"
        id="date"
        formControlName="date"
        required
      />
      <div class="text-danger" *ngIf="purchaseForm.get('date')?.invalid && (purchaseForm.get('date')?.dirty || purchaseForm.get('date')?.touched)">
        *Date is Required
      </div>

      <label for="vendorName"><b>Vendor Name :</b></label>
        <input 
            type="text"
            id="vendorName"
            formControlName="vendorName"
            pattern="[a-zA-Z]{5,}"
         
            placeholder="Enter the Vendor name">
        <div
            class="text-danger"
            *ngIf="purchaseForm.get('vendorName')?.dirty && purchaseForm.get('vendorName')?.errors?.['required']"
          >
            *Name is required
        </div>
      
      <label for="description"><b>Description :</b></label>
      <input 
        type="text"
        id="description"
        formControlName="description"
        pattern="[a-zA-Z]{5,10}"
        placeholder="Description"
        required
      />
      <div class="text-danger" *ngIf="purchaseForm.get('description')?.dirty && purchaseForm.get('description')?.errors?.['required']">
        Description is required
      </div>
      <div class="text-danger" *ngIf="purchaseForm.get('description')?.dirty && purchaseForm.get('description')?.errors?.['pattern']">
        Only alphabets are allowed in description 
      </div>

      <label for="quantity"><b>Quantity:</b></label>
      <input 
        type="number" 
        formControlName="quantity"
        id="quantity" 
        placeholder="Enter Quantity"
        min="1"
        required
      >
     <div class="text-danger" *ngIf="purchaseForm.get('quantity')?.dirty && purchaseForm.get('quantity')?.errors?.['required']">
        *Please Enter the Quantity
      </div>
      <div class="text-danger" *ngIf="purchaseForm.get('quantity')?.dirty && purchaseForm.get('quantity')?.errors?.['min']">
        *Please Enter a positive number
      </div> 

      <label for="price"><b>Price:</b></label>
      <input 
        type="number" 
        formControlName="price"
        id="price" 
        placeholder="Enter Price"
        min="0"
        required
      >
     <div class="text-danger" *ngIf="purchaseForm.get('price')?.dirty && purchaseForm.get('price')?.errors?.['price']">
        *Please Enter the Price
      </div>
      <div class="text-danger" *ngIf="purchaseForm.get('price')?.dirty && purchaseForm.get('price')?.errors?.['min']">
        *Please Enter a positive number
      </div> 

  
      <label for="status"><b>Status:</b></label>
      <select 
        class="form-control"
       formControlName="status"
        id="status" 
        required
      >
        <option value="" disabled selected>Select Status</option>
        <option value="Paid">Paid</option>
        <option value="Pending">Pending</option>
      </select>
      <div class="text-danger" *ngIf="purchaseForm.get('status')?.invalid && (purchaseForm.get('status')?.dirty || purchaseForm.get('status')?.touched)">
        *Status is required
      </div>
      
      
      <button class="submit" type="submit" ><b>Add</b></button>
   
    </form>   
  </div>
  