<div class="custom-container">
    <app-dashboard></app-dashboard>
    <div class="card mt-4 mb-4">
        <div class="card-body purchaseEntry">
            <h1 class="card-title text-center">Purchase Entry</h1>
            <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label">Vendor Name</label>
                    <select class="form-select" [(ngModel)]="purchase.vendorName" formControlName="vendorName" required>
                        <option value="" disabled>Select Vendor</option>
                        <option *ngFor="let vendor of vendors" [value]="vendor.vendorName">{{ vendor.vendorName }}</option>
                    </select>
                    <span class="text-danger" *ngIf="purchaseForm.controls['vendorName'].dirty && purchaseForm.hasError('required', 'vendorName')">*Customer Name is required</span>
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Invoice Number</label>
                    <input type="text" [(ngModel)]="purchase.invoiceNumber" formControlName="invoiceNumber" class="form-control" id="number" readonly required>
                    <span class="text-danger" *ngIf="purchaseForm.controls['invoiceNumber'].dirty && purchaseForm.hasError('required', 'invoiceNumber')">*Invoice Number is required</span>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" [(ngModel)]="purchase.dueDate" formControlName="date" class="form-control" id="date" readonly required>
                    <span class="text-danger" *ngIf="purchaseForm.controls['date'].dirty && purchaseForm.hasError('required', 'date')">*Date is required</span>
                </div>
                <div class="mb-3">
                    <label for="product" class="form-label">Product Name</label>
                    <input type="text" [(ngModel)]="purchase.productDescription" pattern="[a-zA-Z\s]{2,60}" formControlName="proddesc" class="form-control" id="product" aria-describedby="emailHelp" required>
                    <span class="text-danger" *ngIf="purchaseForm.controls['proddesc'].dirty && purchaseForm.hasError('required', 'proddesc')">*Product Description is required</span>
                    <span class="text-danger" *ngIf="purchaseForm.controls['proddesc'].dirty && purchaseForm.hasError('pattern', 'proddesc')">*Product Description must contain only Alphabets</span>
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" min="1" [(ngModel)]="purchase.quantity" formControlName="quantity" class="form-control" id="quantity" required>
                    <span class="text-danger" *ngIf="purchaseForm.controls['quantity'].dirty && purchaseForm.hasError('required', 'quantity')">*Quantity is required</span>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price per Unit</label>
                    <input type="number" min="1" [(ngModel)]="purchase.price" formControlName="price" class="form-control" id="price" required>
                    <span class="text-danger" *ngIf="purchaseForm.controls['price'].dirty && purchaseForm.hasError('required', 'price')">*Price is required</span>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Payment Status</label>&nbsp;
                    <select class="form-select" [(ngModel)]="purchase.status" formControlName="status" aria-label="Default select example" class="required">
                        <option value="" disabled="disabled">Select Status</option>
                        <option value="Paid">Paid</option>
                        <option value="Pending">Pending</option>
                    </select>
                </div>
                <div class="d-grid mb-3 col-6 mx-auto">
                    <button type="submit" class="btn btn-dark" [disabled]="!purchaseForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
