.body {
    background: linear-gradient(to bottom, #6f72ba 0%, #232756 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.card {
    width: 600px;
}