<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Accounting App</a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isLoggedIn()" class="nav-item">
          <button class="btn btn-warning"  aria-current="page" skipLocationChange routerLink="/ledger-table">Go to Dashboard</button>
        </li>
        </ul>

     
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li *ngIf="isLoggedIn()" class="nav-item">
            <a skipLocationChange class="nav-link" routerLink="/profile">Welcome, {{ getUsername() || 'User' }}</a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a skipLocationChange routerLink="/login" class="nav-link" href="#">Sign In</a>
          </li>
        </ul>
        
    
    </div>
  </nav>