<div class="form-group">
    <h2 align="center"><i><u><b>Customer Details</b></u></i></h2>
    <br>
    <form class="form" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
       
        <label for="customerName"><b>Customer Name :</b></label>
        <input 
            type="text"
            id="customerName"
            formControlName="customerName"
            pattern="[a-zA-Z]{5,}"
         
            placeholder="Enter the Customer name">
        <div
            class="text-danger"
            *ngIf="customerForm.get('customerName')?.dirty && customerForm.get('customerName')?.errors?.['required']"
          >
            *Name is required
        </div>
      
        <div
            class="text-danger"
            *ngIf="customerForm.get('customerName')?.dirty && customerForm.get('customerName')?.errors?.['pattern']"
          >
            *Only Alphabet are required in vendor Name
        </div>

        <label for="customerEmail"><b>Customer Email :</b></label>
        <input 
            type="email"
            name="customerEmail" 
            formControlName="customerEmail"
         
            placeholder="Enter the customer email ">
        <div
            class="text-danger"
            *ngIf="customerForm.get('customerEmail')?.dirty && customerForm.get('customerEmail')?.errors?.['required']"
          >
            *Email is required
        </div>
        <label for="customerAddress"><b>Customer Address :</b></label>
        <input 
            type="text"
            name="customerAddress" 
            formControlName="customerAddress"
         
            placeholder="Enter the customer Address ">
        <div
            class="text-danger"
            *ngIf="customerForm.get('customerAddress')?.dirty && customerForm.get('customerAddress')?.errors?.['required']"
          >
            *Address is required
        </div>
        <button type="submit"><b>Add Customer</b></button>
    </form>
</div>
