<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Purchase Page</title>

</head>
<body>

<h2>Purchase Page</h2>

<table>
    <thead>
        <tr>
            <th>Payable ID</th>
            <th>Invoice Number</th>
            <th>Date</th>
            <th>Customer Name</th>
            <th>Product Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Amount</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let customer of customers'>
            <td>{{customer.payableId}}</td>
            <td>{{customer.invoiceNumber}}</td>
            <td>{{customer.date}}</td>
            <td>{{customer.customerName}}</td>
            <td>{{customer.productDescription}}</td>
            <td>{{customer.quantity}}</td>
            <td>{{customer.price}}</td>
            <td>{{customer.totalAmount}}</td>
            <td>{{customer.status}}</td>
        </tr>
        <tr *ngIf="!customers || customers.length==0">
            <td colspan="5">
                No customers to display
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
