<!--<div class="card">
    <div class="card-body">
      <h1>Empowering Your Financial 
        Journey:</h1>
        
       <h2>Simplify, Analyze, Thrive!</h2>
    </div>
  </div>-->


<header>
    <div class="title">Accounting App</div>
    <div class="signin-btn">
        <a routerLink="/signin">Sign In</a>
    </div>
</header>
<section class="main-content">
    <div class="content-box">
        <div class="text">
            <h2>{{heading}}:</h2>
            <p>{{heading1}}</p>
        </div>
        <div class="image">
            <img [src]="imgPath" alt="">
           
        </div>
    </div>
    <div class="signup-btn">
        <a href="/signup">Sign Up Now!</a>
    </div>
</section>
 


