
<div class="custom-container">
    <app-dashboard></app-dashboard>
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Profile Details:</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Company Name: {{ currentUser?.companyName }}</li>
            <li class="list-group-item">First Name: {{ currentUser?.repFirstName }}</li>
            <li class="list-group-item">Last Name: {{ currentUser?.repLastName }}</li>
            <li class="list-group-item">Email: {{ currentUser?.email }}</li>
            <li class="list-group-item">Address: {{ currentUser?.address}}</li>
            <li class="list-group-item">City: {{ currentUser?.city}}</li>
            <li class="list-group-item">State: {{ currentUser?.state}}</li>
            <li class="list-group-item">Country: {{ currentUser?.country}}</li>
            <li class="list-group-item">Pincode: {{ currentUser?.pinCode}}</li>
          </ul>
        </div>
    </div>
</div>
