<head>
    <title>Accounting App</title>
 </head>
 <body>
     <header>
         <h1>Accounting App</h1>
         <nav>
             <ul>
                <li><button onclick="window.location.href='dashboard.html'">Go to Dashboard</button></li>
                <li><button onclick="window.location.href='logout.html'">Logout</button></li>
            </ul>
         </nav>
         <script>
            document.getElementById("dashboardButton").addEventListener("click", function() {
                // Redirect to the dashboard page
                window.location.href = "dashboard.component.html"; 
            });
        </script>
        
     </header>
