<div class="container">
    <h2 align="center">Purchase Data</h2>
    <table>
        <tr>
            <th>InvoiceNo</th>
            <th>Date</th>
            <th>VendorName</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let purchases of purchasesList">
            <td>{{purchases.invoiceNumber}}</td>
            <td>{{purchases.date}}</td>
            <td>{{purchases.vendorName}}</td>
            <td>{{purchases.productDescription}}</td>
            <td>{{purchases.quantity * purchases.price}}</td>
            <td>{{purchases.status}}</td>
        </tr>
 
        <td colspan="4" style="text-align: center;">
            <button type="submit" routerLink="/purchases" ><b>Add Invoice</b></button>
        </td>
 
    </table>
 </div>