
.custom-container {
    /* Optional: Adjust height for vertical centering */
    height: 100%;
    display: flex;

}

.invoice-container{
    margin: 0 auto; /* Center the card horizontally */
    width: 50rem; /* Set width of the card */
    flex: 1; /* Let the card occupy remaining space */
    overflow-y: auto; 
    
    padding-left: 2%;
    padding-right: 2%;
}