<div class="custom-container">
    <app-dashboard></app-dashboard>
    <div class="customer-container">
        <h1 class="text-center">Customer Details</h1>
        <div class="customer-details">
            <h2>Customer Details</h2>
            <p><strong>Customer Name:</strong> {{ customer.customerName }}</p>
            <p><strong>Email:</strong> {{ customer.customerEmail }}</p>
            <!-- <p><strong>Address:</strong> {{ customer.customerAddress }}</p> -->
        </div>

    </div>


</div>

