.custom-container {
  /* Optional: Adjust height for vertical centering */
  height: 100%;
  display: flex;

}

.card {
  margin: 0 auto; /* Center the card horizontally */
  width: 50%; /* Set width of the card */

  overflow-y: auto; 
}

.ledgerEntry {
  background: linear-gradient(to bottom, #c9f44b 0%, #3a6625 100%);
}
input{
  border-radius: 5px;
}