<div class="custom-container">
    <app-dashboard></app-dashboard>
    <div class="card mt-4 mb-4">
        <div class="card-body ledgerEntry">
            <h1 class="card-title text-center">Ledger Entry</h1>
            <form [formGroup]="ledgerForm" (ngSubmit)="onSubmit()">
  
                <div class="mb-3">
                    <label for="transactiondate" class="form-label">Transaction Date</label><br>
                    <input 
                        class="form-control"
                        type="date"
                        formControlName="transactiondate"
                        id="transactiondate"
                        required
                    />
                    <span class="text-danger" *ngIf="ledgerForm.get('transactiondate')?.touched && ledgerForm.get('transactiondate')?.errors?.['required']">Transaction Date is required.</span>
                    <span class="text-danger" *ngIf="ledgerForm.get('transactiondate')?.touched && ledgerForm.get('transactiondate')?.errors?.['futureDate']">*Future date or date less than 7 days from current date is not allowed.</span>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label><br>
                    <input 
                        class="form-control"
                        type="text"
                        formControlName="description"
                        id="description"
                        pattern="[a-zA-Z\s]{5,100}"
                        placeholder="Description about sales/purchase"
                        required
                    />
                    <span class="text-danger" *ngIf="ledgerForm.get('description')?.touched && ledgerForm.get('description')?.errors?.['required']">Description is required.</span>
                    <span class="text-danger" *ngIf="ledgerForm.get('description')?.touched && ledgerForm.get('description')?.errors?.['pattern']">Description must be between 5 to 100 characters and can contain only letters and spaces.</span>
                </div>
                
                <div class="mb-3">
                    <label for="transactiontype" class="form-label">Transaction Type</label>
                    <select 
                        class="form-control"
                        formControlName="transactiontype"
                        id="transactiontype" 
                        required
                    >
                        <option value="" disabled selected>Select Transaction Type</option>
                        <option value="CREDIT">Credit</option>
                        <option value="DEBIT">Debit</option>
                    </select>
                    <span class="text-danger" *ngIf="ledgerForm.get('transactiontype')?.touched && ledgerForm.get('transactiontype')?.errors?.['required']">Transaction Type is required.</span>
                </div>
                
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label><br>
                    <input 
                        class="form-control"
                        type="number" 
                        formControlName="amount"
                        id="amount" 
                        placeholder="Enter Amount"
                        min="0"
                        required
                    >
                    <span class="text-danger" *ngIf="ledgerForm.get('amount')?.touched && ledgerForm.get('amount')?.errors?.['required']">Amount is required.</span>
                    <span class="text-danger" *ngIf="ledgerForm.get('amount')?.touched && ledgerForm.get('amount')?.errors?.['min']">Amount must be greater than or equal to 0.</span>
                </div>
                <div class="d-grid mb-3 col-6 mx-auto">
                    <button type="submit" class="btn btn-dark" [disabled]="!ledgerForm.valid">Add</button>
                </div>
            </form>
        </div>
    </div>
  </div>
  
  
