<div class="body">
<div class="card">
  <div class="card-body">
      <h1 class="card-title text-center mb-5">Forgot Password</h1>
      <form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
        <label class="form-label mt-4" for="email">Enter your email:</label>
        <input class="form-control" formControlName="email" type="email" id="email" name="email" required>
        <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary mt-5" type="submit">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>