
<div class="body">
    <div class="g-col-6 d-flex align-items-center justify-content-center" style="margin-right: 100px;">
      <div class="image">
      <img src={{imagepath}} alt="Your Image">
    </div>
    </div>
    <div class="g-col-6">
      <div class="card">
          <div class="card-body">
            
              <h1 class="card-title text-center">Sign In</h1>
              <form [formGroup] = "loginForm" (ngSubmit)="login()" class="row g-3">
                  
                  
                  <div class="col-12">
                      <label for="email" class="form-label">Email</label>
                      <input formControlName="companyemail" type="email" class="form-control" id="email">
                      <span class="text-danger" *ngIf="loginForm.controls['companyemail'].dirty && loginForm.hasError('required', 'companyemail')">*Email Id is required</span>
                  </div>
  
                  <div class="col-12">
                      <label for="password" class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="password">
                      <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">*Password is required</span>
                  </div>
                  
                  <div class="d-grid mb-3 col-6 mx-auto">
                      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary mb-2">Sign In</button>
                  </div>
              </form>
  
              <div class="card-body text-center">
                <a skipLocationChange routerLink="/forgot-password" style="text-decoration: none;">Forget Password!</a>
                </div>
                <div class="card-body text-center">
                 <a skipLocationChange routerLink="/register" style="text-decoration: none;">Not Registered? Sign Up Here!</a>
                  </div>
       
          </div>
      </div>
    </div>
  </div>
  
  