<div class="wrapper">

    
    <aside id="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a routerLink="/dashboard">Dashboard</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a routerLink="/dashboard" class="sidebar-link">
                    <i class="lni lni-agenda"></i>
                    <span>Ledger</span>
                </a>
            </li>
        <!--    <li class="sidebar-item">
                <a routerLink="/sales-table" class="sidebar-link">
                    <i class="lni lni-agenda"></i>
                    <span>Sales</span>
                </a>
            </li>-->
            <li class="sidebar-item">
                <a routerLink="/dashboard" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="lni lni-target-revenue"></i>
                    <span>Sales</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a routerLink="/sales-table" class="sidebar-link">Sale Details</a>
                    </li>
                    <li class="sidebar-item">
                        <a routerLink="/invoice-details" class="sidebar-link">Generate New Invoice</a>
                    </li>
                </ul>
            </li>


            <li class="sidebar-item">
                <a routerLink="/dashboard" class="sidebar-link">
                    <i class="lni lni-wallet"></i>
                    <span>Purchases</span>
                </a>
        
            
            <li class="sidebar-item">
                <a routerLink="/dashboard" class="sidebar-link">
                    <i class="lni lni-customer"></i>
                    <span>Customer</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLink="/dashboard" class="sidebar-link">
                    <i class="lni lni-revenue"></i>
                    <span>Vendor</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a routerLink="/dashboard" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Company Profile</span>
                    </a>
                </li>
            <li class="sidebar-item">
            <a routerLink="/login" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
        </div>
    </aside>


<div class="main p-3">
<div class="card">
<div class="card-body">
  <h1 class="card-title text-center">Invoice Details</h1>
<form [formGroup]="invoiceForm" (ngSubmit)="invoice()">
<div class="mb-3">
<label for="name" class="form-label">Customer Name</label>
<input type="text" formControlName="customername" class="form-control" id="name" aria-describedby="emailHelp">

</div>
<div class="mb-3">
<label for="number" class="form-label">Invoice Number</label>
<input type="text" formControlName="invoicenumber" class="form-control" id="number">
</div>
<div class="mb-3">
<label for="date" class="form-label">Date</label>
<input type="date" formControlName="date" class="form-control" id="date">
</div>
<div class="mb-3">
<label for="product" class="form-label">Product Description</label>
<input type="text" formControlName="proddesc" class="form-control" id="product" aria-describedby="emailHelp">
</div>
<div class="mb-3">
<label for="quantity" class="form-label">Quantity</label>
<input type="number" min="0" formControlName="quantity" class="form-control" id="quantity">
</div>
<div class="mb-3">
<label for="price" class="form-label">Price per Unit</label>
<input type="number" formControlName="price" class="form-control" id="price">
</div>

<div class="mb-3">
<label for="status" class="form-label">Payment Status</label>
<select class="form-select" formControlName="status" aria-label="Default select example">
<option selected>Select Status</option>
<option value="paid">Paid</option>
<option value="pending">Pending</option>
</select>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>