<div class="widget-container">
    <div class="widget green">
      
      <div class="value">
        <div class="top" style="font-weight: bold;">Today</div>
        
        <div class="top">Time: {{currentTime}}</div>
        <div class="top">Date: {{formattedDate | date}}</div>
        
      </div>
    </div>
    <div class="widget yellow">
     
      <div class="value">
        
        <div class="top" style="font-weight: bold;">Total Customers</div>
        <div class="top">{{count}}</div>
      </div>
    </div>
    <div class="widget red">
      
      <div class="value">
        <div class="top" style="font-weight: bold;">Total Vendors</div>
        <div class="top">{{sum}}</div>
      </div>
    </div>
    <div class="widget blue">
      
      <div class="value">
        <div class="top" style="font-weight: bold;">Total Revenue</div>
        <div class="top">{{revenue}}</div>
      </div>
    </div>
  </div>