<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a><i class="lni lni-facebook-original"></i></a>
            <a><i class="lni lni-instagram"></i></a>
            <a><i class="lni lni-twitter-original"></i></a>
            <a><i class="lni lni-google"></i></a>
            <a><i class="lni lni-youtube"></i></a>
        </div>
        <div class="footerNav">
            <ul><li><a>Home</a></li>
              
                <li><a>About</a></li>
                <li><a>Contact Us</a></li>
                <li><a>Our Team</a></li>
            </ul>
        </div>
        
    </div>
    <div class="footerBottom">
        <p>Copyright &copy;2024; Designed by <span class="designer">Accounting-App</span></p>
    </div>
</footer>